# --- BANCO DE DADOS / DOCKER ---
MYSQL_DATABASE=speed_prod
MYSQL_USER=speed_app
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

DB_NAME=speed_prod
DB_USER=speed_app
DB_PASSWORD=
DB_HOST=speed_db
DB_PORT=3306

# --- AUTENTICACAO AD / LDAP ---
USE_AD_AUTH=true
AD_SERVER_URI=ldap://192.168.90.51
AD_BIND_DN=servico.ti@howbe.local
AD_BIND_PASSWORD=
AD_USER_SEARCH_BASE=DC=howbe,DC=local
AD_GROUP_SEARCH_BASE=DC=howbe,DC=local
AD_GROUP_SGP_ACCESS=CN=Acesso_SGP,OU=Sistemas,DC=howbe,DC=local
AD_DEFAULT_DOMAIN=HOWBE

# --- ADMIN LOCAL ---
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@speed.com.br
ADMIN_PASSWORD=

# --- BACKUP / CIFS ---
BACKUP_WINDOWS_USER=
BACKUP_WINDOWS_PASSWORD=
BACKUP_WINDOWS_DOMAIN=HOWBE
BACKUP_WINDOWS_HOST=192.168.90.53
BACKUP_WINDOWS_SHARE=Publica
BACKUP_WINDOWS_SUBDIR=Elias_Prod

# --- GOOGLE / SERPER ---
SERPER_API_KEY=
